@using mvcTwo.ViewModels.SPA
@model MainViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employee Single Page Application</title>
</head>
<body>
    <div style="text-align:right">
        Hello, @Model.UserName
        <a href="/Authentication/Logout">Logout</a>
    </div>
    <div>
        @Html.Action("EmployeeList","Main")
    </div>
    <br/>
    @Html.Partial("Footer", Model.FooterData)
</body>
</html>
