################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.net相关/mvc/BusinessEntities/bin/Debug
/.net相关/mvc/.vs/config
/.net相关/mvc/DataAccessLayer/bin
/.net相关/mvc/BusinessEntities/obj
/.net相关/mvc/DataAccessLayer/obj
/.net相关/mvc/packages
/.net相关/mvc/mvcTwo/obj
/.net相关/mvc/mvcTwo/bin
/.net相关/mvc/mvcTwo/obj/Debug
/.net相关/mvc/.vs/mvc/v14/.suo
